/* rest */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
}

#red {
    background-color: red;
    color: yellow;
}

#green {
    background-color: green;
    color: yellow;
}

#yellow {
    background-color: yellow;
    color: green
}
/* general */

.container {
    height: 100vh;
    position: relative;
}
ul {
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 30px;
    z-index: 1;
}

ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: 15px;
}

li:hover, a:hover {
    background-color: orange;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-text img {
   height: 40vh;
}

.image-text h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}